* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

header {
  padding: 20px;
  background-color: cornflowerblue;
  border-bottom: 2px solid;
  border-color: blue;
  margin-bottom: 20px;
  font: 14px sans-serif;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

body {
  background: #f5f5f5;
  font: 14px sans-serif;
  color: #333;
}